html{
    background-color: #000;
    color: #fff;
        color: red;
    font-family: sans-serif;
    text-align: center;
}

a {
    color: orange;
}

a:hover{
color: orangered;
}

img{
    max-width: 100%;
}